<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function hidePredictionText() {
            const resultDiv = document.querySelector('.result');
            if (resultDiv) {
                setTimeout(() => {
                    resultDiv.style.display = 'none';
                }, 8000); 
            }
        }
    </script>
</head>
<body onload="hidePredictionText()">
    <div class="container">
        <h2>Diabetes prediction Form</h2>
        <form action="/predict_diabetes" method="POST">
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required min="1" max="110"/>
            </div>
            <div class="form-group">
                <label for="bmi">BMI:</label>
                <input type="number" id="bmi" name="bmi" required min="7" max="85" step="0.01"/>
            </div>
            <div class="form-group">
                <label for="HbA1c">HbA1c:</label>
                <input type="number" id="HbA1c" name="HbA1c" required min="1" max="15" step="0.01"/>
            </div>
            <div class="form-group">
                <label for="blood_glucose">Blood Glucose:</label>
                <input type="number" id="blood_glucose" name="blood_glucose" required min="20" max="350" />
            </div>
            <button type="submit">Predict</button>
        </form>

        {% if prediction_text %}
        <div class="result">
            <h3>{{ prediction_text }}</h3>
        </div>
        {% endif %}
    
    </div>
</body>
</html>